<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>music</key>
	<integer>0</integer>
	<key>movies</key>
	<integer>0</integer>
	<key>food</key>
	<integer>0</integer>
	<key>school</key>
	<integer>0</integer>
	<key>dancing</key>
	<integer>0</integer>
	<key>books</key>
	<integer>0</integer>
	<key>tv</key>
	<integer>0</integer>
	<key>art</key>
	<integer>0</integer>
	<key>technology</key>
	<integer>0</integer>
	<key>games</key>
	<integer>0</integer>
	<key>fashion</key>
	<integer>0</integer>
	<key>volunteer</key>
	<integer>0</integer>
</dict>
</plist>
